<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> result for {{ number }} </title>
    <link type="text/css" rel="stylesheet" href="/static/center.css">
    <style>
        div {
            font-weight: bolder;
            margin: 0.5em;
            line-height: 0.5em;
        }

        #hint {
            font-family: sans-serif;
            letter-spacing: 1em;
        }

        #award {
            font-size: 4em;
            color: firebrick;
        }

    </style>
</head>
<body>
<div id="center">
    <p id="hint"> YOUR AWARD IS </p>
    <p id="award"> {{ award }} </p>
</div>
</body>
</html>